.background_image {
  max-width: 100%;
  position: absolute;
  z-index: 10;
  left: 0;
}

.isEmpty, .isBlackMan .isWhiteMan{
  max-width: 100%;
  position: absolute;
  z-index: 20;
}

.isBlackMan.canSelect{
  animation: black-blink 1s infinite;
  -webkit-animation: black-blink 1s infinite;
}

.isWhiteMan.canSelect {
  animation: white-blink 1s infinite;
  -webkit-animation: white-blink 1s infinite;
}

/****************************************
Animation
****************************************/
.slowlyAppear{
    -webkit-animation: slowlyAppear 2s linear;
    animation: slowlyAppear 2s linear;
}

.slowlyDisapear{
    -webkit-animation: slowlyDisapear 2s linear;
    animation: slowlyDisapear 2s linear;
}

@-webkit-keyframes slowlyAppear {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes slowlyAppear {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes slowlyDisapear {
    from {opacity: 1;}
    to {opacity: 0;}
}

/* Standard syntax */
@keyframes slowlyDisapear {
    from {opacity: 1;}
    to {opacity: 0;}
}




