<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TicTacToe</title>
    <meta name="description" content="Backgammon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <script crossorigin="anonymous" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.css">
    <script crossorigin="anonymous" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-touch.js"></script>
    <script crossorigin="anonymous" src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.js"></script>

    <script src="BackgammonLogicService.js"></script>
    <script src="game.js"></script>
    <script src="aiService.js"></script>

    <script>window.angularTranslationLanguages = ['en'];</script>
    <script crossorigin="anonymous" src="http://yoav-zibin.github.io/emulator/dist/turnBasedServices.2.js"></script>

    <link rel="stylesheet" type="text/css" href="http://yoav-zibin.github.io/emulator/main.css">
    <link rel="stylesheet" type="text/css" href="game.css">

    <!--<meta charset="utf-8">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<title>Backgammon</title>-->
    <!--<meta name="description" content="Backgammon">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">-->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>-->
    <!--<script crossorigin="anonymous" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-touch.js"></script>-->
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.css">-->
    <!--<script crossorigin="anonymous" src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.js"></script>-->
    <!--<script src="http://yoav-zibin.github.io/emulator/resizeGameAreaService.js"></script>-->
    <!--<script src="http://yoav-zibin.github.io/emulator/dist/turnBasedServices.2.min.js"></script>-->
    <!--<script>window.angularTranslationLanguages = ['en'];</script>-->
    <!--<script src="listener.js"></script>-->
    <!--<script>-->
        <!--resizeMapArea({imageId: "board", mapId: "myMapId", originalWidth: 1024, originalHeight: 861});-->
    <!--</script>-->
    <!--<link rel="stylesheet" type="text/css" href="http://yoav-zibin.github.io/emulator/main.css">-->
    <!--<link rel="stylesheet" type="text/css" href="game.css">-->
    <!--<link rel="stylesheet" href="backgammon.css"/>-->
    <!--<script src="BackgammonLogicService.js"></script>-->
    <!--<script src="game.js"></script>-->
    <!--<script src="aiService.js"></script>-->
</head>






<body ng-cloak ng-controller="Ctrl">
<div style="position:absolute; bottom:5px; left: 5px">
    <span ng-click="isHelpModalShown = true"
          class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
</div>

<div class="overlayModal" ng-show="isHelpModalShown" aria-hidden="true">
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="isHelpModalShown = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    {{"RULES_OF_BACKGAMMON"}}
                </h4>
            </div>
            <div class="modal-body">
                <carousel style="height: 150px">
                    <slide>
                        <table>
                            <tr>
                                <td>
                                    {{RULES_SLIDE1}}
                                </td>
                                <td>
                                    <img src="imgs/HelpSlide1.png" style="height:100px;">
                                </td>
                            </tr>
                        </table>
                    </slide>
                    <slide>
                        <table>
                            <tr>
                                <td>

                                </td>
                                <td>
                                    <img src="imgs/HelpSlide2.png" style="height:100px;">
                                </td>
                            </tr>
                        </table>
                    </slide>
                    <slide>
                        <table>
                            <tr>
                                <td>
                                    {{RULES_SLIDE2}}
                                </td>
                                <td>
                                    <img src="imgs/HelpSlide3.png" style="height:100px;">
                                </td>
                            </tr>
                        </table>
                    </slide>
                    <slide>
                        <table>
                            <tr>
                                <td>
                                    {{RULES_SLIDE3}}
                                </td>
                                <td>
                                    <img src="imgs/HelpSlide4.png" style="height:100px;">
                                </td>
                            </tr>
                        </table>
                    </slide>
                    <slide>
                        <table>
                            <tr>
                                <td>
                                    {{RULES_SLIDE4}}
                                </td>
                                <td>
                                    <img src="imgs/HelpSlide5.png" style="height:100px;">
                                </td>
                            </tr>
                        </table>
                    </slide>
                    <slide>
                        <table>
                            <tr>
                                <td>
                                    {{RULES_SLIDE5}}
                                </td>
                                <td>
                                    <img src="imgs/HelpSlide6.png" style="height:100px;">
                                </td>
                            </tr>
                        </table>
                    </slide>
                </carousel>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="isHelpModalShown = false">
                    {{"CLOSE"}}
                </button>
            </div>
        </div>
    </div>
</div>


<div id="gameArea">
    <map id="myMapId" name ="someMap">
        <area id="e2e_test_space_0"    title="0"   shape="rect" coords="958,67,1024,370"/>
        <area id="e2e_test_space_1"    title="1"   shape="rect" coords="482,239,549,371"/>
        <area id="e2e_test_space_2"    title="2"   shape="rect" coords="876,65,923,345"/>
        <area id="e2e_test_space_3"     title="3"   shape="rect" coords="808,62,855,342"/>
        <area id="e2e_test_space_4"     title="4"   shape="rect" coords="744,64,791,344"/>
        <area id="e2e_test_space_5"     title="4"   shape="rect" coords="681,63,728,343"/>
        <area id="e2e_test_space_6"     title="6"   shape="rect" coords="617,64,664,344"/>
        <area id="e2e_test_space_7"     title="7"   shape="rect" coords="558,65,605,345"/>
        <area id="e2e_test_space_8"    title="8"   shape="rect" coords="405,63,452,343"/>
        <area id="e2e_test_space_9"    title="9"   shape="rect" coords="340,62,387,342"/>
        <area id="e2e_test_space_10"  title="10"  shape="rect" coords="273,67,320,347"/>
        <area id="e2e_test_space_11" title="11"  shape="rect" coords="206,64,253,344"/>
        <area id="e2e_test_space_12"   title="12"  shape="rect" coords="150,64,197,344"/>
        <area id="e2e_test_space_13"    title="13"  shape="rect" coords="86,62,133,342"/>
        <area id="e2e_test_space_14"   title="14"  shape="rect" coords="91,516,147,794"/>
        <area id="e2e_test_space_15"    title="15"  shape="rect" coords="151,512,213,794"/>
        <area id="e2e_test_space_16"   title="16"  shape="rect" coords="217,509,268,795"/>
        <area id="e2e_test_space_17"    title="17"  shape="rect" coords="277,511,336,797"/>
        <area id="e2e_test_space_18"   title="18"  shape="rect" coords="339,515,394,801"/>
        <area id="e2e_test_space_19"   title="19"  shape="rect" coords="400,514,456,800"/>
        <area id="e2e_test_space_20"   title="20"  shape="rect" coords="561,516,615,802"/>
        <area id="e2e_test_space_21"   title="21"  shape="rect" coords="623,516,677,796"/>
        <area id="e2e_test_space_22"   title="22"  shape="rect" coords="681,514,737,796"/>
        <area id="e2e_test_space_23"    title="23"  shape="rect" coords="745,515,800,797"/>
        <area id="e2e_test_space_24"    title="24"  shape="rect" coords="802,510,861,799"/>
        <area id="e2e_test_space_25"    title="25"  shape="rect" coords="865,516,932,793"/>
        <area id="e2e_test_space_26"    title="26"  shape="rect" coords="481,494,548,626"/>
        <area id="e2e_test_space_27"    title="27"  shape="rect" coords="957,478,1024,793"/>
    </map>
    <img id="board"
         src="PC162517_86aa633b-2484-45d3-8be3-b21a40c6cf05_1024x1024.jpeg" width ="100%" height="100%" alt="1024X861" usemap="#someMap" />

    <div ng-repeat =  "row in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27]">
        <div ng-repeat = "column in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]">
        <img ng-show = "shouldShowImage(row,column)"
             ng-src = "{{getImageSource(row,column).imgSource}}"
             id = "{{'e2e_test_piece_' + pieceColor(row, column) + '_' + row + '_' + column}}"
             ng-style = "{'position':'absolute', 'top':getColumnPositon(row, column), 'right':getRowPosition(row), 'width':'7%', 'height':'7%'}"
             ng-class = "{
                canSelect: getImageSource(row,column).isSelected,
                isBlackMan:getImageSource(row,column).isBlackMan,
                isWhiteMan: getImageSource(row,column).isWhiteMan,
                slowlyAppear: shouldSlowlyAppear(row,column)
             }"
             >
            <!--ng-style = "{'position':'absolute', 'top':getColumnPositon(row, column), 'right':getRowPosition(row), 'width':'7%', 'height':'7%'}"-->
        </div>
        <img ng-src = "{{getDice1()}}"
                style="position:absolute; top:50%; right:60%; width:7%; height:7%">

        <img ng-src = "{{getDice2()}}"
             style="position:absolute; top:50%; right:80%; width:7%; height:7%">

    </div>

</div>
</body>
</html>